<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet', href='style2.css'>
    <title>MineSweeper</title>
</head>
<body>
    <div id='heading'>
        <img src='minesweeper.png', id='logo'></img>
        <h1>MineSweeper</h1>
        </div>
    </div>

    <div class="content">
        <form action="http://localhost:3000/login", method="post">
            <div><input type="text", id="username", name="username", placeholder="username"></div>
            <div><input type="text", id="password", name="password", placeholder="password"></div>
            <div><input type="text", id="gridSize", name="gridSize", placeholder="grid size"></div>
            <div><input type="submit", value="submit"></div>
        </form>        
    </div>
</body>
</html>